@import "tailwindcss";

@theme {
    --color-dark-blue: oklch(35.25% 0.07194 232.022);
    --color-primary-blue: oklch(78.617% 0.1353 229.056);
    --color-secondary-blue: oklch(51.681% 0.10792 233.827);

    --font-arial: Arial, sans-serif;
}

@layer base {
    h1, h2, h3 {
        font-weight:700;
    }
}

@layer components {
    .button {
        @apply inline-block bg-pink-700 hover:bg-pink-500 px-7 py-2 rounded-full transition-colors
    }
}

@utility grid-cols-autofit {
    grid-template-columns:repeat(auto-fit, minmax(15rem, 1fr));
}