@import "tailwindcss";

@theme {
    --color-primary-card: oklch(37.2% 0.044 257.287);
    --color-secondary-card: oklch(55.4% 0.046 257.417);
    --color-link: oklch(82.0% 0.250 5.0);
    --color-link-h: ;
    --font-arial: Arial, sans-serif;
}

@layer base {
    h1, h2, h3 {
        font-weight:700;
    }
}

@layer components {
    .button {
        @apply inline-block bg-pink-700 hover:bg-pink-500 px-7 py-2 rounded-full transition-colors
    }
}

@utility grid-cols-autofit {
    grid-template-columns:repeat(auto-fit, minmax(15rem, 1fr));
}